.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}

.vertical-navbar {
    width: 210px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed; /* Fix the navbar to the left */
    top: 0;
    left: 0;
    height: 100%; /* Make it span the full height */
}

.vertical-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-navbar li {
    margin: 15px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.vertical-navbar li:hover {
    background-color: #444;
}

.content {
    margin-left: 210px; /* Add space to the right of the navbar */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color:white
    position: relative;
}

.patents,
.doctors {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px; /* Add spacing between the buttons */
}

.patents:hover,
.doctors:hover {
    background-color: #0056b3;
}